<div class="container d-flex flex-column">
    <div class="mt-5 font-25 font-weight-bold">Order Success</div>
    <div class="row mb-5 mt-5 d-flex justify-content-center align-items-center">
        <div class="com-md-12">
            <div class="card d-flex flex-column align-items-center">
                <i class="fa fa-check-circle success-check-size success-text-color mt-4" aria-hidden="true"></i>
                <div class="font-40 success-text-color">Your order has been placed successfully</div>
                <img class="w-50" src="assets/img/brand/deliver_boy.jpg" alt="">
                <div class="my-4">
                    <div>Invoice will be sent to : rohanc3634@gmail.com</div>
                    <div>Order number : 103213165451</div>
                    <div>Order Date : {{date}}</div>
                </div>
            </div>
        </div>
    </div>
</div>