
.navbar{
    box-shadow: 0 2px 10px 0 $box-shadow-color !important;
    background-color: $white;
    color: $black;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2rem !important;
    color: $black !important;
 }