.table{
    color: $text-color !important;
    background-color: $white;
    font-size: 	0.875rem;
    thead{
        background-color: $thead-light-bg;
        th{
            border-bottom: 0 !important;
            color: $muted-txt-color;
        }
    }
    th,td{
        padding: $table-cell-padding !important;
    }
}
