<div class="container">
    <ng-container *ngIf="foodData">
        <div class="mt-5 font-25 font-weight-bold">Add {{foodData.type}} food item of your choice</div>
        <div class="row mb-5">
            <div class="col-md-4 mt-5 d-flex" *ngFor="let foodItem of foodData.foodItems">
                <app-foot-item *ngIf="foodItem" class="w-100" [foodData]=foodItem (foodItemAddEvent)="foodItemAddEvent($event)"></app-foot-item>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!foodData">
        <div class="mt-5">
            <app-page-not-found></app-page-not-found>
        </div>
    </ng-container>
</div>