<div class="container min-vh d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email" autocomplete="email" required>
                  <div *ngIf="(f.email.errors && f.email.errors.required && f.email.touched) || (submitted && f.email.invalid)"
                    class="invalid-feedback">Email is required</div>
                </div>
                <div class="input-group mb-4">
                  <input type="password" class="form-control" formControlName="password" placeholder="Password" autocomplete="current-password" required>
                  <div *ngIf="f.password.invalid && f.password.touched" class="invalid-feedback">Password is required</div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary-custom px-4" [disabled]="loginForm.invalid">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white primary-bg py-5 d-md-down-none" style="width:44%">
            <div class="card-body d-flex align-items-center justify-content-center">
              <div>
                <h2>Don’t starve, just order</h2>
                <p>Yummy food which will please you time, money and tummy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>