<div class="container d-flex flex-column">
    <div class="mt-5 font-25 font-weight-bold">Checkout</div>
    <div class="row mb-5 mt-5 d-flex justify-content-center align-items-center">
        <div class="com-md-12">
            <div class="card">
                <div class="table-responsive" *ngIf="checkoutFoodList">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Sr No.</th>
                                <th scope="col">Food Item</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of checkoutFoodList;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.name}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.price | currency:'INR' : 'symbol' : '1.2-2'}}</td>
                                <td>{{(item.count * item.price) | currency:'INR' : 'symbol' : '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Delivery Charge</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{deliveryCharge | currency:'INR' : 'symbol' : '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{(totalBill + 10) | currency:'INR' : 'symbol' : '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body d-flex flex-column align-items-center" *ngIf="!checkoutFoodList">
                    <div>You have not added any food items to cart</div>
                    <a href="javascript:void(0)" routerLink="/" class="mt-2">Let's have something to eat...</a>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" *ngIf="checkoutFoodList" class="btn btn-primary-custom px-4 align-self-end" (click)="checkout()">Checkout</button>
</div>