<nav class="navbar">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/">
      <span>Let's</span><span class="primary-color"> Eat...</span>
    </a>
    <div class="d-flex align-items-center">
      <a href="javascript:void(0)" routerLink="/checkout" class="font-weight-bold color-primary">Total Food Items({{foodItemsCount}})</a>
      <i class="fa fa-sign-out font-40 color-primary ml-3 cursor-pointer" (click)="logout()" aria-hidden="true"></i>
    </div>
  </nav>
<main role="main">
    <router-outlet></router-outlet>
</main>