<div class="card">
    <div class="card-body p-0">
        <img class="food-image" src="assets/img/brand/food_items/{{foodData.img}}" alt="">
        <div class="py-2 px-2 d-flex justify-content-between align-items-center">
            <div class="font-weight-bold">
                <div>{{foodData.name}}</div>
                <div>{{foodData.price | currency:'INR' : 'symbol' : '1.2-2'}}</div>
            </div>
            <div class="font-20">
                <i class="fa fa-minus-circle cursor-pointer" aria-hidden="true" (click)="removeFoodItem()"></i>
                <span class="mx-2 font-weight-bold">{{this.foodData.count}}</span>
                <i class="fa fa-plus-circle cursor-pointer" aria-hidden="true" (click)="addFoodItem()"></i>                
            </div>
        </div>
    </div>
</div>