<div class="d-flex flex-column align-items-center font-weight-bold">
    <img src="assets/img/brand/internal_server_error.jpg" class="w-30" alt="500 Error">
    <div>SORRY...</div>
    <div>It's not you</div>
    <div>It's us</div>
    <a href="javascript:void(0)" (click)="goToHomePage()">Go to Home Page</a>
</div>