<div class="d-flex flex-column align-items-center font-weight-bold">
    <img src="assets/img/brand/not_found.png" alt="">
    <div class="font-20">Page Not Found </div>
    <div>Make sure the address is correct and the page hasn't moved.</div>
    <a href="javascript:void(0)" (click)="goToHomePage()">Go to Home Page</a>
</div>