<div class="container">
    <div class="mt-5 font-25 font-weight-bold">Choose from wide range of foods</div>
    <div class="row mb-5">
        <div class="col-md-4 mt-5 d-flex cursor-pointer" *ngFor="let foodItem of foodList">
            <div class="card" (click)="goToFoodItemsList(foodItem)">
                <div class="card-body p-0">
                    <img class="food-image" src="assets/img/brand/dashboard/{{foodItem.img}}" alt="">
                    <div class="py-2 px-2">
                        <div class="font-weight-bold">{{foodItem.type}}</div>
                        <div class="mt-2">{{foodItem.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>