@import "./variable";

// Components
@import "./../scss/components/navbar";
@import "./../scss/components/card";
@import "./../scss/components/table";
@import "./../scss/components/form";
@import "./../scss/components/button";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Font Family */
html, body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}

body {
    color: $text-color !important;
    background-color: $container-bg !important;
}

.covid-box-shadow{
    box-shadow: 0 2px 10px 0 $box-shadow-color !important;
}

.color-primary{
    color: $primary !important;
}

.primary-bg{
  background-color: $primary !important;
}

.container-bg{
    background-color: $container-bg;
}

// Font sizes
.font-42{
    font-size: 2.125rem;
  }
  .font-40{
    font-size: 	2rem !important
  }
  .font-28{
    font-size: 	1.75rem
  }
  .font-27{
    font-size: 	1.6875rem
  }
  .font-25{
    font-size: 1.50rem;
  }
  .font-18{
    font-size: 1.125rem
  }
  .font-22{
    font-size: 1.375rem
  }
  .font-20{
    font-size: 1.25rem !important
  }
  .font-16{
    font-size: 	1rem;
  }
  .font-14{
    font-size: 	0.875rem !important;
  }
  .font-13{
    font-size: 	0.8125rem;
  }
  .font-12{
    font-size: 	0.75rem !important;
  }
  .font-10{
    font-size: 	0.625rem !important;
  }
  .font-6{
    font-size: 6px;
  }
  .font-24{
    font-size: 1.5rem;
  }

  .primary-color{
      color: $primary;
  }
  .red-color{
      color: $red;
  }
  .green-color{
    color: $green;
  }
  .w-30{
    width: 30%;
  }
  .w-40{
    width: 40%;
  }
  .w-100{
    width: 100%;
  }

  .cursor-pointer{
    cursor: pointer;
  }

.muted-text {
    color: $muted-txt-color;
}

.c-app, app-login {
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column;
  min-height: 100vh;
}

.min-vh{
  min-height: 100vh;
}

.invalid-feedback {
  display: block !important;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.food-image{
  border-radius: .25rem;
  width: 100%;
  height: 180px;
}

.success-text-color{
  color: $success-txt;
}