// Colore pallets
$primary: #05A357;
$white: #FFFFFF;
$green: #8ACA2B;
$red: #FF0000;
$black: #000000;

// Text color
$text-color: #525f7f;
$muted-txt-color: #8898aa;
$success-txt: #00D091;

$box-shadow-color: #DCDEFF;
$container-bg: #f8f9fe;

// Card
$card-shadow-color: #DCDEFF;
$card-shadow : 0 2px 10px 0 $card-shadow-color;
$card-border-width-custom : 0px !important;

// Table
$table-cell-padding: 0.75rem 1.25rem;
$thead-light-bg: #f6f9fc;